:root {
    --violate: #6989da;
    --white: #ffffff;
    --grey: #f6f6f6;
    --purple: #3E5284;
    --Pink: #eebcd5;
    --Kashmir: #A076A8;
    --blue: #3F7ECB;
    --black: #000;
    --red: #ff0000;
    --color-background: var(--white);
    --color-text: var(--black);
    --color-input-border: var(--black);

    --container-width: 119rem;
    --gutter: 2rem;
    --transition-timing: 0.3s;

    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}
